@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);
body {
  font-family: "Roboto", sans-serif;
  width: 1219px;
}
* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  z-index: 21;
  background-color: #007765;
  height: 84px;
  width: 1219px;
  top: 0;
  display: inline-block;
  align-items: center;
}
.container {
  display: inline-block;
  width: 1219px; /*Устанавливает ширину содержимого элемента*/
  margin-left: auto; /*Устанавливает величину отступа от левого края элемента*/
  margin-right: auto; /*Устанавливает величину отступа от правого края элемента*/
  padding-left: 55px; /*Устанавливает значение поля от левого края содержимого элемента*/
  padding-right: 55px; /*Устанавливает значение поля от правого края содержимого элемента*/
}
.navigation_container {
  height: 100%; /*Устанавливает ширину содержимого элемента*/
  display: flex; /*Определяет как элемент должен быть показан в документе*/
  align-items: center; /*Выравнивает флекс-элементы внутри контейнера в перпендикулярном направлении*/
  justify-content: space-between; /*Как браузер распределяет пространство вокруг флекс-элементов вдоль главной оси контейнера*/
}

.menu__link {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}
.logo {
  display: inline-block;
  padding: 20px 6px 19px 55px;
  display: block;
}
.jumbotron {
  height: 403px;
  background-image: url(./image/Jumbotron.png);
}
.here {
  justify-content: center;
  font-size: 72px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px 0px 160px 0;
}
.problem {
  height: 719px;
  background-color: #ffffff;
}
.thepro {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  padding: 48px 57px 0 55px;
}
.beneath {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  width: 1110px;
  padding: 16px 54px 0 55px;
}
.hero {
  height: 483px;
  background-image: url(./image/hero.png);
}
.textHero {
  padding: 128px 163px 127px 163px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
.PPC {
  height: 604px;
  background-color: #ffffff;
}
.ppclogo {
  float: left;
  clear: left;
  padding: 0px 48px 35px 55px;
}
.pied {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-top: 16px;
}
.now {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-top: 40px;
  padding-right: 54px;
  padding-left: 55px;
}
.theteam {
  height: 845px;
  background-color: #eeeeee;
}
.textteam {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  padding: 48px 54px 0px 55px;
}
.img1 {
  padding-left: 55px;
}
.top {
  padding-top: 32px;
}
.Rectangle {
  height: 176px;
  background-color: #333333;
}
.Rect {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  padding: 48px 339px 64px 340px;
}
div {
  display: block;
}
